
<div class="container">
<div class="d-flex justify-content-between align-items-center">
    <h3 class="text-center mt-4 mb-3">Locations</h3>
    <button type="button" class="btn btn-primary">Add Location</button>
  </div>

  

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Available Units</th>
            <th>WiFi</th>
            <th>Laundry</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let location of locations | async">
            <td>{{ location.id }}</td>
            <td>{{ location.name }}</td>
            <td>{{ location.city }}</td>
            <td>{{ location.state }}</td>
            <td>{{ location.availableUnits }}</td>
            <td>{{ location.wifi }}</td>
            <td>{{ location.laundry }}</td>
            <td>
                <button  class="btn btn-warning m-1 p-1"(click)="updateLocation(location.id)">Edit</button>
                <button  class="btn btn-danger m-1 p-1" (click)="deleteLocation(location.id)">Delete</button>
    
            </td>
          </tr>
    </tbody>
</table>
</div>